* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

 :root {
    --green: lightseagreen;
    --violet: blueviolet;
}

body {
    background-image: url('../assets/images/photo.jpg');
    background-size: cover;
    height: 100vh;
}

header {
    height: 69px;
    align-items: center;
    background-color: var(--green);
    color: var(--violet);
}

section {
    height: 100vh;
}


/*seccion de  la primera caja*/

section .boox {
    padding: 1em;
    align-self: center;
    outline: 1px solid blue;
    margin-top: 1em;
}

section .boox .btn {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: transparent;
    outline: none;
}


/*caja donde entran los twitts*/

section .box li {
    background-color: #f3e6ff;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px 20px;
    width: 93%;
    font-size: 14px;
}


/*caja donde ingresa la información*/

section .boox1 .btn1 {
    background: blueviolet;
    border-radius: 5px;
    border: none;
    color: beige;
    width: 80px;
    height: 39px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
}

footer ul {
    display: flex;
    list-style: none;
    font-size: 13px;
    flex-wrap: wrap;
}


/* zona flex */

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boox1 {
    align-items: flex-end;
    padding: 1em;
    outline: 1px solid blue;
    align-self: center;
}

.container-flex {
    align-items: flex-start;
    height: 250px;
    flex-wrap: wrap;
}

@media(min-width:1200px) {
    .container-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .boox1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 40%;
    }
    section .boox1 .btn1 {
        width: 127px;
    }
    section .boox {
        width: 40%;
    }
}